*{
    box-sizing: border-box;
}

header, footer {
    border: 1px solid #000000;
    text-align: center;
    height: 100px;
    clear: both;
}

section.row1 {
    border: 1px solid #000000;
    text-align: center;
    height: 150px;
}

section.row2 {
    border: 1px solid #000000;
    text-align: center;
    float:left;
	width: 40%;
    height: 200px;
}

section.row3 {
    border: 1px solid #000000;
    text-align: center;
    float:left;
	width: 60%;
    height: 200px;
}
