/* Please Make only Rhino and Zebra Blue */

/* Please Make only Hufflepuff Gold */

/* Please select Duck with the highest level of specificity possible */

/* Please select Rhino with the highest level of specificity possible */

.africa.fourLegs {
    color: blue;
}

#bestHouse {
    color: gold;
}

body article.areDucksDinosaurs h2.likesToQuack.fight1Or100 {
    color: brown !important;
}

body section.top h2#rhino {
    color: green !important;
}
